body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #222;
  color: var(--text);
}

.app {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2 {
  color: white;
}

.map {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.info {
  margin-top: 15px;
  color: #aaa;
}
